body{
    margin: 0;
    padding:0;
}

/* The Grid */

* {
    box-sizing: border-box;
}

.row{
    max-width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 960px) {
    .col-1 {width: 25%;}
    .col-2 {width: 33.33%;}
    .col-3 {width: 41.66;}
    .col-4 {width: 50%;}
    .col-5 {width: 50%;}
    .col-6 {width: 50%;}
    .col-7 {width: 100%;}
    .col-8 {width: 100%;}
    .col-9 {width: 100%;}
    .col-10 {width: 100%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}
}

@media screen and (max-width: 600px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 100%;}
    .col-4 {width: 100%;}
    .col-5 {width: 100%;}
    .col-6 {width: 100%;}
    .col-7 {width: 100%;}
    .col-8 {width: 100%;}
    .col-9 {width: 100%;}
    .col-10 {width: 100%;}
    .col-11 {width: 100%;}
    .col-12 {width: 100%;}
}

.row img{
    padding: 15px;
    width: 100%;
}

.row a:hover{
    opacity: 30%;
}


.row i{
    font-size: 100px;
    text-align: center;
    width: 100%;
    color: #FF931D;
    margin-bottom: 20px;
}

/*Typography*/
h1{
    font-size: 100px;
    text-align: center;
    line-height: 100px;
    padding: 50vh 0px 0px 0px;
    margin: 0px;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
}

h2{
    font-size: 3em;
    text-align: left;
    font-weight: 700;
    padding: 100px 0px 20px 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

h3{
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}

h4, h5{
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}

p, li{
    font-size: 16px;
    font-family: 'Merriweather', serif;
    line-height: 2;
    letter-spacing: 1px;
}

.highlightme { 
    /*background-*/color:#FFF; 
}

@media screen and (max-width: 600px) {
    h1 {font-size: 50px; line-height: 50px;}
    h3 {font-size: 18px; line-height: 18px;}
}

/*...Header...*/
#navbar {
    background-color: black;
    margin: 0px;
    padding: 5px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
}

#title {
    padding: 0px;
    margin: 0px;
    display: inline;
    text-decoration: none;
    color: white;
}

/* Nav Bar */
/*...Hamburger Icon...*/
#hamburger {
    color: white;
    float: right;
}

#hamburger:hover, #title:hover {
    color: #FF931D;
}

/*...Close Icon...*/
#close {
    color: white;
    float: right;
    height: 24px;
    margin: 25px;
    font-size: 50px;
}

#close:hover{
    color: #FF931D;
}

/*...Navigation Page...*/
#navPage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
}

#pages {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pages li a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    line-height: 100px;
    font-weight: 700;
}

#pages li a:hover {
    color: #FF931D;
}

/* Banner */
.site-header{
    height: 100vh;
    width: 100%;
    background-image: url("header1.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
}

.banner{
    padding: 15px;
}

/* Footer */
.site-footer{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #000;
}

.site-footer i{
    font-size: 20px;
    padding: 20px;
}

.site-footer a{
    color: #fff;
    text-decoration: none;
}

.site-footer a:hover{
    color: #FF931D;
    text-decoration: none;
}

.site-footer p{
    padding-bottom: 50px;
}

#more{
    display: none;
}

#btnReadMo{
    font-size: 16px;
    font-family: 'Merriweather', serif;
    line-height: 2;
    letter-spacing: 1px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#btnReadMo:hover{
    background-color: #FF931D;
}

#slideshow{
    height: 400px;
    background-image: url("MadeInBrunel.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #FFF;
    font-size: 0;
    font-weight: 700;
    padding: 150px 0px 0px 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

#slideshow:hover{
    font-size: 3em;
}

@media screen and (max-width: 600px) {
    h1, h2{
        font-size: 2.5em;
    }
    p, li{
        font-size: 12px;
        font-family: 'Merriweather', serif;
        line-height: 2;
        letter-spacing: 1px;
    }
}